body {
    padding: 100px;
    background-color: gray;
    align-items: center;
    align-content: center;
}
#container {
    width: 50%;
    height: 200px;
    margin: auto;
    padding: auto;
    background-color: white;
}
#calculator {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;

    background-color: beige;
}

.buttons {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    margin: auto;
}

#display {
    display: flex;
    margin-left: 50%;
    align-content: center;
    color: seagreen;
    border: black 2px;
    border: 1px;
}