body {
    padding: 100px;
    background-color: gray;
    align-items: center;
    align-content: center;
}
#container {
    width: 50%;
    height: 200px;
    margin: auto;
    padding: auto;
    background-color: white;
}
#calculator {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: beige;
    align-content: center;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.buttons {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    margin: 0px;
    display: flex;
    flex: 1 auto;
    gap: 0px;
}

button {
    background-color: #484952;
    color: white;
    width: 50px;
    height: 30px;
    border-radius: 2px;
    border: 2px;
    float: left;
    margin: 1px;
    border-color: blue;
}

.buttons .zero {
    width: 103px;
}

.screen {
    background-color: black;
    align-content: center;
    border-radius: 2px;
    width: 205px;
    margin-left: 30px;
    padding-right: 10px;
}

#display {
    display: flex;
    justify-content: right;
    color: seagreen;
    margin-right: 0px;
}

.row {
    display: flex;
    gap: 0px;
}